<div class="container">
  <div fxLayout="row" fxLayout.xs="column">
    <mat-card fxFlex="50">
      <h2 fxLayoutAlign="center">Enter the participants below and click the draw button to draw names!</h2>
      <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field style="margin-right:15px; width: 30%">
          <input matInput placeholder="Name" type="text" id="fname" [(ngModel)]="entry.name" name="fname">
        </mat-form-field>
        <!--<mat-form-field>-->
        <!--  <input matInput type="text" placeholder="Email" id="email" [(ngModel)]="entry.email" name="fname">-->
        <!--</mat-form-field>-->
        <div style="margin-left: 10px;">
          <button mat-raised-button [disabled]="drawClicked" color="primary" type="button" (click)="addName()">Add Person</button>
        </div>
        <br>

      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <button style="width: 30%" mat-raised-button color="accent" type="button" (click)="drawNames()"
                [disabled]="isUneven || drawClicked">Draw!
        </button>
      </div>

    </mat-card>

    <mat-card fxFlex="50">
      <h2 fxLayoutAlign="center">Participants</h2>
      <div fxLayout="row" fxLayoutAlign="center">
        <div *ngIf="persons.length > 0">
          <mat-card style="width: 100%; text-align: center; margin-top: 8px;" *ngFor="let person of persons">
            <span style="margin-right: 15px; font-size: 18px;">{{person.name}}</span>
            <span [ngClass]="{'enabled-delete': !drawClicked, 'disabled-delete': drawClicked}" fxFlexAlign="center" (click)="remove(person)" class="material-icons">delete</span>
            <!--<div mat-line>{{person.email}}</div>-->
          </mat-card>
        </div>
      </div>
    </mat-card>

  </div>

  <div>
    <div fxLayoutAlign="center" style="margin-top:25px; width: 100%">
      <div>
        <button mat-raised-button color="primary" [disabled]="!pairs || pairs.length === 0" type="button"
                (click)="showResults()">{{resultButtonText}}</button>
      </div>
      <div>
        <button style="margin-left: 5px;" mat-raised-button color="accent" [disabled]="!pairs || pairs.length === 0" type="button"
                (click)="reset()">Reset</button>
      </div>

    </div>
  </div>

  <div style="margin-top: 50px;" fxLayoutAlign="center">
    <div *ngIf="pairs && !resultsHidden">
      <mat-card style="margin-top:5px;" *ngFor="let pair of pairs">
        <h2><b>{{pair.p1.name}}</b> is assigned <b>{{pair.p2.name}}</b></h2>
      </mat-card>
    </div>
  </div>



</div>
